/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2020, 12:12:49 AM
    Author     : Lenovo
*/
body {
    margin: 0;
    margin-top: 50px;
}
h1{
    font-family: Papyrus;
    color: black;
    font-size: 50px;
    margin-left: 40px;
   height: 50px;
  line-height: 50px;
  text-align:center;
}
h2{
     font-family: Bradley hand itc;
    color: black;
    font-size: 30px;
    margin-left: 40px;
   height: 50px;
  line-height: 50px;
  text-align:left;
  
}
p{
    font-family: David;
    font-size: 30px;
}


#butt
{
	width: 200px;
	padding: 7px;
	font-size: 16px;
	font-family: sans-serif;
	font-style: italic;
	font-weight: 600;
	border: none;
	border-radius: 3px;
}